<!DOCTYPE html>
<html lang="nl">
<head>
    <title></title>
</head>
<body>
{% for source in sources %}
    <div>
        {{ source.author }}. ({{ source.lastupdated }}). <i>{{ source.title }}</i>. [
        {{ source.viewdate }}, {{ source.organisation }}: {{ source.link }}].
    </div>

{% endfor %}

</body>
</html>