<html lang="">
<head>
    <title>dashboard</title>
</head>
<body>
<a href="/upload/">upload new files</a>
<h3>unedited files</h3>
<table>
    {% for file in unsorted %}
        <tr>
            <td>{{ file.name }} </td>
            <td><a href="/update/{{ file.guid }}">update</a></td>
        </tr>
    {% endfor %}
</table>


</body>
</html>