<html lang="en">
<head>
    <title>single process</title>
</head>
<body>
<h1>{{ file.name }}</h1>
<form action="/update/{{ file.guid }}" method="post">
    <table>
        <tr>
            <td><label for="name">name:</label></td>
            <td><input type="text" id="name" name="name" autocomplete="false"></td>
        </tr>
        <tr>
            <td><label for="date">date:</label></td>
            <td><input type="date" id="date" name="date" autocomplete="false"></td>
        </tr>
    </table>
    <input type="submit"/>
</form>
</body>
</html>