<html lang="en">
<head>
    <title>upload</title>
</head>
<body>
<h1>Upload files</h1>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="files">files:</label></td>
            <td><input type="file" multiple id="files" name="files[]">
            </td>
        </tr>
    </table>
    <input id="submit" type="submit"/>
</form>
<ul id="fileList"></ul>
<script>
    setInterval(
        function () {
            //get the input and UL list
            var input = document.getElementById('files');
            var list = document.getElementById('fileList');

            //empty list for now...
            while (list.hasChildNodes()) {
                list.removeChild(list.firstChild);
            }
            var allgood = true;

            //for every file...
            for (var x = 0; x < input.files.length; x++) {
                //add to list
                var li = document.createElement('li');
                if (input.files[x].name.endsWith(".pdf"))
                    li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
                else {
                    li.innerHTML = '<strong style="color: red;">invalid file ' + (x + 1) + ':  ' + input.files[x].name + '</strong>';
                    allgood = false;
                }
                list.append(li);
            }
            if (allgood && document.getElementById("submit").hasAttribute("disabled"))
                document.getElementById("submit").removeAttribute("disabled");
            else if (!document.getElementById("submit").hasAttribute("disabled"))
                document.getElementById("submit").setAttribute("disabled", "");
        }, 2000);
</script>
</body>
</html>